body {
  margin: 0px !important;
}
.top-navbar {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(102, 101, 101);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
}

.top-navbar-img {
  height: 50px;
  width: 50px;
}
