a {
  text-decoration: none;
  color: black;
}
body {
  margin: 0px !important;
  font-family: "Roboto", sans-serif;
}

body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-navbar {
  display: flex;
  flex-direction: row;
  /* border: 1px solid rgb(102, 101, 101); */
  box-shadow: 1px 1px 5px rgb(192, 192, 192);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
}

.top-navbar-img {
  height: 50px;
  width: 50px;
}

.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.side-navbar {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 0px 25px;
  height: 84vh;
  width: 16%;
}

.side-navbar-item {
  padding: 12px 24px;
  margin: 4px 0px;
  border-radius: 20px;
}

.side-navbar .active {
  background-color: #d2d2d2;
}
.main-content-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.dashboard-summary {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  padding: 20px;
  /* position: absolute;
  left: 30%;
  top: 20%; */
}

.dashboard-summary-item {
  width: 250px;
  text-align: left;
  font-size: xx-large;
  padding: 20px;
  border-radius: 12px;
}

#item1 {
  background-color: #ffebf1;
}

#item2 {
  background-color: #ffefd6;
}

#item3 {
  background-color: #cafbe3;
}

.fa-solid {
  color: #2270d1;
}

.dashboard-summary-item-text {
  color: rgb(183, 167, 167);
  font-size: large;
}

/* Charts */

.chart-box {
  width: 90%;
  min-height: 200px;
  padding: 20px;
  display: flex;
}

.chart-box .box {
  background: #ffffff;
  padding: 16px;
  box-shadow: 1px 1px 5px rgb(192, 192, 192);
  border-radius: 12px;
  width: 100%;
}

.chart-box .box:first-child {
  margin-right: 12px;
}

.chart-box .box canvas {
  height: 300px;
}
